<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WebChatApp</title>
    @Styles.Render("~/styles/bootstrap")
    </head>
    <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WebChatApp</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <p class="navbar-text pull-right">© Danny Skoog 2013</p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
  </body>
</html>
